.leaderboard-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.list-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	padding: 1rem;
	box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7), 1px 2px 4px 0px rgba(0, 255, 255, 0.7),
		2px 4px 8px 0px rgba(0, 255, 255, 0.7), 2px 4px 16px 0px rgba(0, 255, 255, 0.7);
}

.score-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	font-size: 12px;
	letter-spacing: 1px;
}

.name {
	font-size: 15px;
}

.leaderboardBtn-container { 
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.leaderboardBtns { 
	display: inline-block;
	outline: 0;
	border: 0;
	cursor: pointer;
	will-change: box-shadow, transform;
	background: linear-gradient(to right, #20195a, #554cb1, #5a5aa0);
	box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%),
		inset 0px -3px 0px rgb(58 65 111 / 50%);
	padding: 0 15px;
	border-radius: 6px;
	color: #fff;
	height: 30px;
	font-size: 15px;
	letter-spacing: 2px;
	text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
	transition: box-shadow 0.15s ease, transform 0.15s ease;
	font-family: 'Nordic Light', Arial, Helvetica, sans-serif;
}

.leaderboardBtns:hover {
	box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
	transform: translateY(-2px);
}

.leaderboardBtns:active {
	box-shadow: inset 0px 3px 7px #3c4fe0;
	transform: translateY(2px);
}
