html, body, .container, #root { 
  width: 100%;
  height: 100%; 
  margin: 0; 
} 

.app-container { 
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content; 
  width: fit-content;
  gap: 1rem;
}

.photo { 
  height: 75rem;
  width: 50rem;
}

.clickable-div { 
  position: absolute; 
  top: 0; 
  left: 0;
  background-color: white;
  height: 5rem;
  width: 5rem;
  overflow: auto;
}